h1 {
    text-align: center;
}

#glyph-input {
    width: 500px;
}

#ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

canvas {
    border: 2px dashed black;
}